<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Storym</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="#/home">Accueil</a>
                <a class="mdl-navigation__link" href="#/storys">Histoires</a>
                <a class="mdl-navigation__link" href="#/chapters">Chapitres</a>
            </nav>
        </div>
    </header>
</div>


<!--<md-nav-bar >-->
    <!--<md-nav-item md-nav-href="#/home" aria-label="home" name="home" >Acceuil</md-nav-item>-->
    <!--<md-nav-item md-nav-href="#/storys"  aria-label="histoire" name = "stories" >Histoire</md-nav-item>-->
    <!--&lt;!&ndash;<md-nav-item md-nav-href="#/chapters" aria-label="chapitres" >Chapitres</md-nav-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-nav-item md-nav-href="#/pages" aria-label="pages" >Pages</md-nav-item>&ndash;&gt;-->
    <!--&lt;!&ndash;<md-nav-item md-nav-href="#/choices"  aria-label="choix" >CHoix</md-nav-item>&ndash;&gt;-->
<!--</md-nav-bar>-->