
<md-nav-bar aria-label="Menu">
	<md-nav-item aria-label="Acceuil" md-nav-href="#/home"  name="home" >Acceuil</md-nav-item>
	<md-nav-item aria-label="Histoires" md-nav-href="#/stories" name = "stories" >Histoires</md-nav-item>
	<md-nav-item aria-label="chapitres" md-nav-href="#/chapters" name = "chapters" >Chapitres</md-nav-item>
	<md-nav-item md-nav-href="#/pages" name = "pages" aria-label="pages" >Pages</md-nav-item>
	<md-nav-item md-nav-href="#/choices"  aria-label="choix" >CHoix</md-nav-item>
</md-nav-bar>
