<script type="text/ng-template" id="templateUpdateChapter">
    <div id="target"  ng-init="initModalUpdate()" ng-controller=" modaleModifChapterController" >

        <div layout="row" layout-align="center center">
            <div layout="column" class="noPaddingModal">
                <h1>Modifier {{chapterToUpdate.prenom}} {{chapterToUpdate.nom}} </h1>

                <md-input-container>
                    <label>Titre</label>
                    <input type="text" ng-model="chapterToUpdate.title">
                </md-input-container>

                <md-button ng-click="showAddPage()" class="md-primary storym-button">Ajouter une page</md-button>

                <md-button ng-click="showAddToStory()" class="md-primary storym-button">Lier à une histoire</md-button>


                <ng-show ng-show="chapterToUpdate.pages">
                    <div class="table-responsive-vertical shadow-z-1">
                        <table id="table" class="table table-hover table-mc-light-blue">
                            <thead>
                            <tr>
                                <th>Index page</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr ng-repeat="page in chapterToUpdate.pages">
                                <td>{{page.index}}</td>
                                <td >
                                    <i class="material-icons" ng-click="deletePage(chapterToUpdate,page)" >delete</i>
                                    <i class="material-icons" ng-click="openUpdateModale(chapter)">create</i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-show>

                <ng-show ng-show="addPageClick">
                    <label for="multipleSelect"> Ajouter page </label>
                    <md-input-container >
                        <select ng-options="page as page.index for page in allPages "
                                name="multipleSelect" id="multipleSelect" ng-model="data.pagesSelected" multiple ng-change="updatePagesSelected()" >
                        </select>
                    </md-input-container>
                    <md-button class="md-raised storym-button " ng-click="addToChapterToUdpade()">ajouter</md-button>
                </ng-show>

                <ng-show ng-show="addStoryLinkedClick">
                    <label for="multipleSelect"> Lier à  </label>
                    <md-input-container >
                        <select ng-options="story as story.title for story in allStories "
                                name="multipleSelect" id="multipleSelectStory" ng-model="data.storySelected" ng-change="updateStorySelected()" >
                        </select>
                    </md-input-container>
                    <md-button class="md-raised storym-button " ng-click="addToStoryChapterToUdpade()">Lier</md-button>
                </ng-show>

                <md-button class="md-raised storym-button-valid" ng-click="updateChapter()">modifier</md-button>

                <ng-show ng-show="chapterToUpdate.storyLinked">
                    <p> Lié à l'histoire :  {{chapterToUpdate.storyLinked.title || chapterToUpdate.storyLinked}}
                </ng-show>


            </div>
        </div>
    </div>
</script>