<script type="text/ng-template" id="templateAdd">
    <div id="target"  ng-init="initModalAdd()" ng-controller="modaleAjoutStoryController" >

        <div layout="row" layout-align="center center">
            <div layout="column">
                <h1>Créer une nouvelle histoire</h1>

                <md-input-container>
                    <input placeholder="Titre" type="text" ng-model="newStory.title">
                </md-input-container>

                <md-input-container >
                    <input placeholder="Note" type="number" ng-model="newStory.note">
                </md-input-container>

                <md-button class="md-raised storym-button-valid" ng-click="add(newStory)">Créer</md-button>
            </div>
        </div>

    </div>
</script>