.md-button.storym-button-valid {
    color:white;
    background-color: black !important;
}
.md-button.storym-button {
    color:white;
    background-color: #FF4081 !important;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.noPaddingModal {
    width:100%;
}