<!--<div ng-include src="'app/Modales/Chapter/AjoutChapter/modale.ajoutChapter.html'" ></div>-->
<!--<div ng-include src="'app/Modales/Chapter/ModificationChapter/modale.modificationChapter.html'" ></div>-->

<div id="chapters">

    <i class="material-icons" ng-click="openAddModale()" >add</i>

    <div class="table-responsive-vertical shadow-z-1">

        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
            <tr>

                <th>Titre</th>
                <th>Index</th>
                <th>Pages</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody ng-repeat="chapter in chapters">
            <tr>
                <td >{{chapter.title}}</td>
                <td>{{chapter.index}}</td>
                <td>
                    <div ng-repeat="page in chapter.pages ">
                        {{page.index}}
                    </div>
                </td>
                <td >
                    <i class="material-icons" ng-click="DeleteChapter(chapter)" >delete</i>
                    <i class="material-icons" ng-click="openUpdateModale(chapter)">create</i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>