<div ng-include src="'app/Component/header.html'" ></div>
<div ng-include src="'app/Modales/AjoutStory/modale.ajoutStory.html'" ></div>
<div ng-include src="'app/Modales/ModificationStory/modale.modificationStory.html'" ></div>


    <div id="storys">

        <h1> Liste de l'ensemble des storys </h1>

        <button  ng-click="openAddModale()">Ajouter une story</button>

        <div class="table-responsive-vertical shadow-z-1">

            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>

                        <th>Titre</th>
                        <th>Note</th>
                        <th>Chapitres</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="story in storys  ">
                            <td >{{story.title}}</td>
                            <td>{{story.note}}</td>
                            <td>
                                <div ng-repeat="chapter in storys.chapters  ">
                                    <td >{{chapter.title}}</td>
                                </div>
                            </td>
                            <td >
                                <button  ng-click="openUpdateModale($index)">Modifier</button>
                                <button  ng-click="DeleteStory($index)">Supprimer</button>
                            </td>

                </tbody>
            </table>
        </div>



</div>