<div ng-include src="'app/Component/header.html'" ></div>
<div ng-include src="'app/Modales/AjoutStory/modale.ajoutStory.html'" ></div>
<div ng-include src="'app/Modales/ModificationStory/modale.modificationStory.html'" ></div>

<div ng-controller="StoryController">

    <div id="storys">

        <h1> Liste de l'ensemble des storys </h1>

        <button  ng-click="openAddModale()">Ajouter une story</button>

        <div class="table-responsive-vertical shadow-z-1">

            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Sessions</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="story in storys  ">
                            <td >{{story.id}}</td>
                            <td >{{story.nom}}</td>
                            <td>{{story.prenom}}</td>
                            <td>
                                <div ng-repeat="sessionSuivie in storys.sessions_suivies  ">
                                    <td >{{sessionSuivie.intitule}}</td>
                                </div>
                            </td>
                            <td >
                                <button  ng-click="openUpdateModale($index)">Modifier</button>
                                <button  ng-click="DeleteStory($index)">Supprimer</button>
                            </td>

                </tbody>
            </table>
        </div>

    </div>

</div>